/*
financialStyle.css
Financial Vir
Summer 2015 (first created)
*/

Body {
  background: url(slashTile.png) repeat fixed center;
  font-family: helvetica;
  font-size: 0.9em;
  border-collapse: collapse;
}

div {
  display: inline-block;
}

button {
  margin: 0 2px 0 2px;
}

.tithingOwe {
  box-shadow: 2px 2px 4px rgba(255, 51, 51, 0.8); /* #F33 */
  border: 5px solid #F33;
  border-radius: 5px;
  
  margin: 0.5em auto;
}

.tithing {
  padding: 0.2em 2em;
  max-width: 100%;
  font-weight: bold;
}


.block {
  display: block;
}

div.columns {
  float: left;
  width: 50%;
}

input.invalid {
  background-color: rgba(255, 51, 51, 0.5);
  border: 2px solid rgba(255, 51, 51, 1);
  outline: none;
}

input.invalid:focus {
  box-shadow: 0 0 5px 25px rgba(255, 51, 51, 1);
  border: 2px solid rgba(255, 51, 51, 1);
  box-shadow: 0 0 3px 1px rgba(255, 51, 51, 1);  
}

select.invalid {
  background-color: rgba(255, 51, 51, 0.5);
  border: 1px solid rgba(255, 51, 51, 1);
}

div.default {
  /* x, y, blur, spread, color*/
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border: 5px solid #003;
  border-radius: 5px;
  
  margin: 0.5em auto;
}

div.menuWrapper {
  width: 97%;
}

div.mainContent {
  width: 65%;
}

.sideBar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  
  /*http://stackoverflow.com/questions/16094785/have-a-fixed-position-div-that-needs-to-scroll-if-content-overflows*/
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align: center;
  
  margin: 0;
  padding: 0 1em;
  
  height: 100%;
}

.buttonMenu {
  border: none;
  border-radius: 0;
  border-bottom: solid black 3px;
  
  box-shadow: none;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.6);
  
  display: block;
  
  text-align: center;
  padding: 0.2em 2em;
}

.overlayBackground {
  border: none;
  border-radius: 0;
  
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.82);
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  
  text-align: center;
  color: white;
  overflow: scroll;
  
  z-index: 10;
  
}

div.dataEntry {
  display: table;
  color: black;
  background-color: white;
  text-align: center;
  padding: 1em;
  
  border-radius: 5px;
  border: 5px solid black;
  
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  overflow-y:scroll;
  overflow-x:hidden;
  width: 20%;
}

input[type="checkbox"] {
  -webkit-transform: scale(2);
  padding: 100px;
}

.blackWhiteDiv {
  background-color: black;
  border-radius: 5px;
  border: 5px solid white;
  
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /*padding: 1em 2em 2em 2em;*/
  overflow: auto;
  width: 20%;
  display: table;
  height: auto;
  min-height: 100px;
}

.blackWhiteDiv * {
  margin: auto;
}

.textWrapper {
  padding: .5em;
}

.textWrapper * {
  margin: 1em;
}
/*.blackWhiteDiv button {
  margin: 1em;
}*/

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

tr:nth-child(odd) {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.4);  
}

/*Row Styles*/
tr {
  background-color: lightblue;
  /* #3CF */
  background-color: rgba(204,242,255, 0.4);
}

tr:last-child {
  border-bottom: 3px solid black;
}

.stackedTables {
  display: block;
}

.halfTable:nth-last-child(2) {
  border-right: 3px solid black;
}

.halfTable:last-child {
  border-left: 3px solid black;
}

.halfTable {
  width: 50%;
  float: left;
}

td {
  border: 2px solid #CCD;
  
  padding: .2em .2em;
  overflow: hidden;
  white-space: nowrap;
}

td:hover, #categoryTable .leftSideHeader:hover {
  cursor: pointer;
  color: #00f;
}

tr:hover{
  color: white;
  font-weight: bold;
  
  background-color: #3CF;
}

tr:hover td {
  border-left-color: white;
  border-right-color: white;
}

/*Cell Styles*/
th { 
  
  color: black;
  background-color: white;
  
  border-bottom: black 3px solid;
  
  overflow: hidden;
  padding: .4em 0;
}

.leftSideHeader {
  border: black solid 3px;
  border-bottom: black solid 2px;
  border-left: none;
}

/*.leftSideHeader:last-of-type {
  border-bottom: 2px solid #CCD;
}*/

h3 {
  color: white;
  
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1em;
  display: block;
}

.numberFormat {
  text-align: right;
  font-weight: bold;
}

.positive {
  color: green;
}

.negative {
  color: #F33;
}

.boolean {
  text-align: center;
}

.checkmark {
  color: green;
  font-weight: bold;
  
  background-color: lightgreen;
  background-color: rgba(0, 128, 0, 0.2);
}

.betaVersion {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-weight: bold;
}